:root{
  --color1: #6d597a;
  --color2: #b56576;
  --color3: #eaac8b;
  --color4: #fff;
  --color5: #000;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  display: flex;
  height: 70px;
  color: var(--color4);
  align-items: center;
  justify-content: center;
  background-color: var(--color1);
}

main{
  display: flex;
  width: 100%;
}

aside{
  display: flex;
  flex-direction: column;
  background-color: var(--color2);
  gap: 15px;
  width: 20%;
  height: 807px;
  padding: 15px 15px;
}

aside a{
  text-decoration: none;
  color: var(--color5);
  font-size: 1.1em;
}

section{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 15px;
  flex-wrap: wrap;
}

.card{
  background-color: var(--color3);
  order: 2;
  flex-basis: 40%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:nth-child(2), .card:nth-child(1){
  align-self: flex-end;
}



footer{
  display: flex;
  height: 70px;
  color: var(--color4);
  align-items: center;
  justify-content: center;
  background-color: var(--color1);
}
